In [1]:
import pandas as pd

In [2]:
original = pd.DataFrame({
    'values': [1,2,3],
})

def multiply_column_by_10(df, column_name):
    df['multiplied column'] = df[column_name] * 10
    
    return df
    
new = multiply_column_by_10(original, 'values')

original.head() # surprise! original dataframe is mutated

   values  multiplied column
0       1                 10
1       2                 20
2       3                 30

In [3]:
original = pd.DataFrame({
    'values': [1,2,3],
})

def multiply_column_by_10(df, column_name):
    df = df.copy()
    df['multiplied column'] = df[column_name] * 10
    
    return df
    
new = multiply_column_by_10(original, 'values')

original.head() # no mutation to original dataframe

   values
0       1
1       2
2       3

In [7]:
def add_new_friend(friends, new_friend):
    friends.append(new_friend)
    
    return friends

old_friends = ['alice', 'bob', 'catherine']
new_friends = add_new_friend(old_friends, 'some new friend')

print(old_friends) # old friends is mutated and it unexpectedly contains the new friend
print(new_friends)

['alice', 'bob', 'catherine', 'some new friend']
['alice', 'bob', 'catherine', 'some new friend']

In [5]:
def add_one_to_age(person):
    person['age'] = person['age'] + 1

    return person

current_bob = {'age': 42}

older_bob = add_one_to_age(current_bob)

print(current_bob) # current_bob is accidentally mutated and made older

{'age': 43}